const styles = StyleSheet.create({
  screen: {
    flex: 1,
    backgroundColor: "rgb(149,194,149)",
    paddingTop: 20,
    alignItems: "center",
  },

  title: {
    color: "#003939",
    fontSize: 28,
    textAlign: "center",
    fontStyle: "italic",
    fontFamily: "Poppins",
  },

  subtitle: {
    fontSize: 25,
    color: "rgb(130,100,58)",
    textAlign: "center",
    marginTop: 65,
    marginBottom: 40,
  },

  kyuButton: {
    width: 250,
    paddingVertical: 10,
    marginVertical: 4,
    borderWidth: 1,
    borderColor: "black",
    borderRadius: 6,
    alignItems: "center",
  },

  kyuText: {
    fontSize: 20,
    fontFamily: "Poppins",
    color: "black",
  },

  // Couleurs des ceintures
  kyu10: { backgroundColor: "rgb(194,114,58)" },
  kyu9: { backgroundColor: "rgb(194,114,58)" },
  kyu8: { backgroundColor: "rgb(77,77,187)" },
  kyu7: { backgroundColor: "rgb(77,77,187)" },
  kyu6: { backgroundColor: "rgb(211,211,46)" },
  kyu5: { backgroundColor: "rgb(211,211,46)" },
  kyu4: { backgroundColor: "rgb(54,150,54)" },
  kyu3: { backgroundColor: "rgb(54,150,54)" },
  kyu2: { backgroundColor: "rgb(138,57,57)" },
  kyu1: { backgroundColor: "rgb(138,57,57)" },

  shodan: {
    backgroundColor: "black",
  },
  shodanText: {
    color: "yellow",
    fontSize: 20,
    fontFamily: "Poppins",
  },

  logoTop: {
    width: 120,
    height: 120,
    resizeMode: "contain",
    position: "absolute",
    top: -40,
    right: -20,
  },

  logoBottom: {
    width: 200,
    height: 200,
    resizeMode: "contain",
    marginTop: 30,
  },
});
